.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  max-width: 400px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  color: #686868;
  font-size:0.8em;
}

.input,
.select,
.textarea {
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.textarea { height:100px; }

.button {
  background-color: #2d9f83;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #1e866c;
}